{% block content %}

	<div class="intro">
		<p>
			<i>Bonjour :)</i>
		</p>
		<p>Je m'appelle <strong><i>Simon Guichard.</i></strong>
		</p>
		<p>
			Je suis développeur web depuis pas mal de temps, et cela m'a conduit à travailler sur 2 ou 3 trucs, de manière profesionnelle, ou bien totalement personnelle ! Ce petit site a pour but de présenter quelques uns de ces projets !
		</p>	
		<p>
			Si mon cas vous intéresse, mon CV est disponible <a href="docs/CV_SIMON_GUICHARD_2016.pdf" target="_blank" title="Oui, ici.">ici <img src="images/pdf-icon.png" /></a> au cas où :)
		</p>
		<p>
			Bonne journée &#9788; &#10048; &#10084;
		</p>	
	</div>

{% endblock %}
