<nav class="proj-nav">
    <ul>
        <li class='active'><a href="#farmleap" >Farmleap</a></li>
        <li><a href="#civc" >CIVC</a></li>
        <li><a href="#wesport">WeSport</a></li>
        <li><a href="#ypp">YouProtest</a></li>
        <li><a href="#splashed">Splashed</a></li>
        <li><a href="#jackpot">Jackpot</a></li>
        <li><a href="#crc">CRC</a></li>
        <li><a href="">Reservem</a></li>
    </ul>
</nav>

<div class="project-container">
    {% include 'projects/farmleap.html.twig' %}
    {% include 'projects/civc.html.twig' %}
    {% include 'projects/wesport.html.twig' %}        
    {% include 'projects/ypp.html.twig' %}        
    {% include 'projects/crc.html.twig' %}        
    {% include 'projects/jackpot.html.twig' %}        
    {% include 'projects/splashed.html.twig' %}        
</div>