    <section class='project' id="project-civc">
        <div class='infos'>
            <img class='logo' src="images/projects/civc/civc.jpg" alt="">
            <p>
            <strong>Nom:</strong> CIVC <strong>Client:</strong> Comité Champagne<br>
            <strong>Objet:</strong> Application agri-météo à destination des viticulteurs<br>
            <strong>Difficultés:</strong> Acquisition de données météo en continu, cohérence des données, performance base de données, intégration responsive...<br>
            <strong>Rôle:</strong> Développeur principal, création backend, intégration frontend, installation serveur, ...<br>
            <strong>Date:</strong> 2015 ~ 2017<br>                
            </p>
        </div>

        <div class="screenshots">
             <div class="pilling">
                <div class="section" data-title="Page radar des pluies"><img src="images/projects/civc/shot5.jpg" alt=""></div>
                <div class="section" data-title="Page cumul des pluies"><img src="images/projects/civc/shot4.jpg" alt=""></div>
                <div class="section" data-title="Page synthèse des données"><img src="images/projects/civc/shot3.jpg" alt=""></div>
                <div class="section" data-title="Page mesures de terrain"><img src="images/projects/civc/shot2.jpg" alt=""></div>
                <div class="section" data-title="Page prévision météo"><img src="images/projects/civc/shot1.jpg" alt=""></div>
                <div class="section" data-title="Pages responsive"><img src="images/projects/civc/shot6.jpg" alt=""></div>
            </div>                            
        </div>
    </section>