    <section class='project' id="project-crc">
        <div class='infos'>
            <img class='logo' src="images/projects/crc/crc.png" alt="">
            <p>
            <strong>Type:</strong> Site web <strong>Client:</strong> CRC <br>
            <strong>Description:</strong> Site institionnel du laboratoire de recherche de Climatologie de Dijon<br>          
            <strong>Difificulté:</strong> Plateform multi-usages, multi-utilisateurs<br>
            <strong>Rôle:</strong> Développeur principal et administrateur<br>
            <strong>Date:</strong> 2010 ~ 2015<br>                
            </p>
        </div>

        <div class="screenshots">
             <div class="pilling">
                <div class="section"><img src="images/projects/crc/shot1.jpg" alt=""></div>
                <div class="section"><img src="images/projects/crc/shot2.jpg" alt=""></div>
                <div class="section"><img src="images/projects/crc/shot3.jpg" alt=""></div>
            </div>                            
        </div>
    </section>