    <section class='project' id="project-farmleap">
        <div class='infos'>
            <img class='logo' src="images/projects/farmleap/logo.png" alt="">
            <p>
            <strong>Nom:</strong> Farmleap
            <strong>Objet:</strong> Application de gestion parcellaire agricoles et de bilans prévisionnels<br>
            <strong>Difficultés:</strong> Multiple rôles utilisateurs, nombreuses données et entités, performance et génération dynamique de bilans, adaptation de base de données</strong> <br>
            <strong>Rôle:</strong> Intervention sur projet existant, développeur backend, debug et dévelopement de nouvelles fonctionalités ...<br>
            <strong>Date:</strong> 2017 ~ 2018<br>                
            </p>
        </div>

        <div class="screenshots">
             <div class="pilling">
                <div class="section" data-title="Page accueil"><img src="images/projects/farmleap/1.png" alt=""></div>
                <div class="section" data-title="Page gestion parcelles"><img src="images/projects/farmleap/2.png" alt=""></div>
                <div class="section" data-title="Page gestion interventions"><img src="images/projects/farmleap/3.png" alt=""></div>
                <div class="section" data-title="Page bilans"><img src="images/projects/farmleap/4.png" alt=""></div>
                <div class="section" data-title="Page bilan"><img src="images/projects/farmleap/5.png" alt=""></div>
            </div>                            
        </div>
    </section>