    <section class='project' id="project-jackpot">
        <div class='infos'>
            <img class='logo' src="images/projects/jackpot/jackpot.png" alt="">
            <p>
            <strong>Nom:</strong> Jackpot <strong>Type:</strong> Jeu / Projet personnel  <br>
            <strong>Description:</strong> La roue de la (l'in) fortune !!<br>            
            <strong>Difificulté:</strong> Premier jeu HTML5 développé en temps limité (3 jours)<br>
            <strong>Rôle:</strong> Développeur javascript, graphisme, game design, story...<br>
            <strong>Date:</strong> 2016<br>                
            </p>
        </div>

        <div class="screenshots">
             <div class="pilling">
                <div class="section" data-title=""><img src="images/projects/jackpot/shot1.jpg" alt=""></div>
                <div class="section" data-title=""><img src="images/projects/jackpot/shot2.jpg" alt=""></div>
            </div>                            
        </div>
    </section>