    <section class='project' id="project-splashed">
        <div class='infos'>            
            <p>
            <strong>Nom:</strong> Splashed  <strong>Type:</strong> Jeu / Projet personnel  <strong>Status:</strong> <i>En developement</i> <br>
            <strong>Description:</strong> Jeu de surf en HTML5<br>            
            <strong>Difificulté:</strong> Jeu de surf en HTML5...<br>
            <strong>Rôle:</strong> Développeur javascript, graphisme, game design, story...<br>
            <strong>Date:</strong> 2016 ~ 2017<br>                
            </p>
        </div>

        <div class="screenshots">
             <div class="pilling">
                <div class="section" data-title=""><img src="images/projects/splashed/shot1.jpg" alt=""></div>
                <div class="section" data-title=""><img src="images/projects/splashed/shot2.jpg" alt=""></div>
                <div class="section" data-title=""><img src="images/projects/splashed/shot3.jpg" alt=""></div>
                <div class="section" data-title=""><img src="images/projects/splashed/shot4.jpg" alt=""></div>
            </div>                            
        </div>
    </section>