    <section class='project' id="project-wesport">
        <div class='infos'>
            <img class='logo' src="images/projects/wsp/wesport.png" alt="">
            <p>
            <strong>Nom:</strong> We-Sport.fr <strong>Type:</strong> Projet personnel  <strong>Status:</strong> <i>Offline</i><br>
            <strong>Description:</strong> Application collaborative de création d'activité sportive sur toute la France<br>            
            <strong>Difificulté:</strong> Sécurité, calendrier temporel et spatial, rappels et notifications, base de données spatiales...<br>
            <strong>Rôle:</strong> Développeur principal, création backend, graphisme et design, intégration frontend, installation serveur, ...<br>
            <strong>Date:</strong> 2013 ~ 2014<br>                
            </p>
        </div>

        <div class="screenshots">
             <div class="pilling">
                <div class="section" data-title=""><img src="images/projects/wsp/shot1.jpg" alt=""></div>
                <div class="section" data-title=""><img src="images/projects/wsp/shot2.jpg" alt=""></div>
                <div class="section" data-title=""><img src="images/projects/wsp/shot3.jpg" alt=""></div>
                <div class="section" data-title=""><img src="images/projects/wsp/shot4.jpg" alt=""></div>
                <div class="section" data-title=""><img src="images/projects/wsp/shot5.jpg" alt=""></div>
                <div class="section" data-title=""><img src="images/projects/wsp/shot6.jpg" alt=""></div>
                <div class="section" data-title=""><img src="images/projects/wsp/shot7.jpg" alt=""></div>
            </div>                            
        </div>
    </section>